@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;900&display=swap');
@import url('https://fonts.maateen.me/charukola-ultra-light/font.css');

* {
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-snap-type: y mandatory;
}

body {
	color: white;
	background-color: #000;
	height: 100vh;
	display: grid;
	place-items: center;
	font-family: "kalpurush", "Montserrat";
}

#app {
	position: relative;
	height: 750px;
	overflow: scroll;
	width: 100%;
	max-width: 400px;
	scroll-snap-type: y mandatory;
}

#app::-webkit-scrollbar {
	display: none;
}

#app {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

#heading-img{
	position: sticky;
	top: 10px;
	left: 30%;
}

.mBlog {
	position: relative;
	scroll-snap-align: start;
}

#auth{
	margin-top: 40px;
	margin-left: 40%;
	color: #ffdada;
}

.mBlogSidebar {
	position: absolute;
	top: 60%;
	right: 10px;
}

.mBlogSidebar .material-icons {
	font-size: 28px;
	cursor: pointer;
}

.mBlogSidebar__button {
	padding: 20px;
	text-align: center;
}

.mBlogFooter {
	position: relative;
	bottom: 100px;
	margin-left: 20px;
	color: white;
	display: flex;
	font-family: "Montserrat";
}

marquee {
	color: #fd7;
}

@keyframes spinTheRecord {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.mBlogFooter__record {
	animation: spinTheRecord infinite 5s linear;
	height: 50px;
	filter: invert(0);
	position: absolute;
	bottom: 0;
	right: 20px;
}

.mBlogFooter__text {
	flex: 1;
}

.mBlogFooter__text h3 {
	padding-bottom: 0px;
}

.mBlogFooter__icon {
	position: absolute;
}

.mBlogFooter__ticker {
	width: 400px;
	display: flex;
	align-items: center;
}

.mBlogFooter__ticker marquee {
	height: fit-content;
	margin-left: 30px;
	width: 60%;
}

.mBlogFooter__description {
	padding-bottom: 20px;
}

@media (max-width: 425px) {
	#app {
		width: 100%;
		height: 100%;
		max-width: 100%;
		border-radius: 0;
	}
}

.blogPost {
	height: 100vh;
	background: rgba(0, 0, 0, 0.35);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

.blogText {
	font-family: "CharukolaUltraLight","Montserrat",sans-serif;
	position: absolute;
	top: 30%;
	left: 40px;
	font-size: 17px;
	line-height: 2.25em;
	word-spacing: 2px;
	max-width: 90%;
}

#herohead {
	position: fixed;
	top: 20px;
	left: 10%;
	z-index: 4000;
	width: 80%;
	font-family: "CharukolaUltraLight";
	padding: 10px;
	text-align: center;

	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
}
